---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}
        {% if page.nasa_ads %}
          <a
            href=https://ui.adsabs.harvard.edu/search/filter_database_fq_database=AND&filter_database_fq_database=database%3A%22astronomy%22&fq=%7B!type%3Daqp%20v%3D%24fq_database%7D&fq_database=(database%3A%22astronomy%22)&q=-docs(f426d6c8826a534b67946fdf9a869f36)%20%20author%3A%22Moharana%2C%20A.%22&sort=date%20desc%2C%20bibcode%20desc&p_=0
            target="_blank"
            rel="noopener noreferrer"
            class="float-right"
            >
            <img src="assets/img/ads_logo_full_light_background.svg"
          ></a>
        {% endif %}
    </h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
